.profileDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profilePicture {
  width: 120px;
  height: 120px;
}

.modalBox {
  position: absolute;
  top: 11%;
  right: 1%;
  width: 400px;
  background-color: var(--color-white);
  border-radius: 20px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  padding: 32px;
}

.profileDetails p {
  margin-top: 10px;
}

.name {
  font-size: 18px;
  color: var(--color-gray);
}

.email {
  font-size: 18px;
  color: #9a9a9a;
}

.divider {
  margin: 10px 0;
  width: 100%;
  background-color: #dcdcdc;
  height: 1px;
}

.userList {
  display: flex;
  justify-content: center;
}

.link {
  text-decoration: none;
}

.signOut {
  background-color: #d55151;
  border-radius: 20px;
  padding: 8px 24px;
  border: none;
  color: var(--color-white);
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
}
